   .font {
    /* background-image: url('../../assets/L&R.jpg'); */
    background-image: url('../../assets/L&R.svg');
    background-repeat: no-repeat;    
    background-size: cover;          
    height: 100vh;
    width: 100vw;  
}
