.tile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 60px;
    color: white;
    row-gap: 0px;
    transition: transform .1s;
    justify-content: center;
}

.tile:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 10px 10px 50px gray;
}

h3 {
    margin: 0px;
}

.tile2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.square {
    background-color: rgb(213, 136, 111);
    width: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px gray;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    height: 100px;
}

.square2 {
    background-color: rgb(112, 162, 136);
    width: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px gray;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    height: 100px;
}

.square3 {
    background-color: rgb(4, 57, 94);
    width: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px gray;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    height: 100px;
}

.square4{
    background-color: #dab785;
    width: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px gray;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    height: 100px;
}


.square5 {
    background-color: rgb(109, 64, 109);
    width: 100px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px gray;
    outline: 2px solid white;
    display: flex;
    align-items: center;
    height: 100px;
}