.slatt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    text-align: center;
    background-image: url('../../assets/LandingPage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  
}