/* .BuyStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
}

.BuyStock h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.BuyStock form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.BuyStock label {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.2rem;
}

.BuyStock input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
}

.BuyStock button {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.BuyStock button:hover {
    background-color: #0b75c3;
} */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

.BuyStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 250px;
    padding: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.BuyStock button {
    padding: 10px 20px;
    border: none;
    background: rgba(69, 162, 158, 0.5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.BuyStock button:hover {
    background: rgba(69, 162, 158, 1);
}

.lol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
