.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 0 10px;
    margin-bottom: 20px;
    padding-left: 400px;
    flex-grow: 1;
  }
    
  .stock-card {
    width: 250px;
    height: 130px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.3);
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }
  

.companyInfo {
  display: flex;
  gap: 5px;
  font-size: 10px;
}

.companyLogo {
  border-radius: 50px;
}

.companyPandC {
  display: flex;
  align-items: center;
}

.companyLogo img {
  width: 30px;
}

.green {
  color: green;
}

.red {
  color: red;
}

