.stockcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "Navbar Navbar Navbar Navbar Navbar Navbar Navbar"
    "StockSearch StockSearch StockSearch StockSearch StockSearch StockSearch StockSearch"
    "Chart Chart Chart Chart Chart Overview Overview"
    "Chart Chart Chart Chart Chart Details Details"
    "Chart Chart Chart Chart Chart Details Details";
  background-color: #F2EFE9;

}

.StockSide { grid-area: StockSide; }

.Navbar {
  align-self: start;
  grid-area: Navbar;
}

.StockSearch {
  grid-area: StockSearch;
  display: flex;
  justify-content: center;
  position: relative;
}

.Chart { grid-area: Chart; }

.Overview { grid-area: Overview; }

.Details { grid-area: Details; }
