  .stock-chat {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 200px;
    right: 50px;

    width: 60%;  
    max-width: 400px; 
    height: 400px;  
    z-index: 9998;  

    background-color: black; 

    

 }
 

 .close-chat-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
 }

 .MainContainer, .ChatContainer, .MessageList {
    border-radius: 15px;
    overflow: hidden; 
}

