.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.login-btn {
    padding: 10px 20px;
    border: none;
    background: rgba( 69, 162, 158, 0.8 );
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-btn:hover {
    background: rgba( 69, 162, 158, 1 );
}
