.personal {
    background-color:#F2EFE9;
    width: 100vw;
    height: 100vh;
    color: black;
    
}


.plz {
    margin-left: 14%; /* Add margin to the main content container to avoid overlapping */
    overflow-x: hidden;
}

.welcome{
    margin: 10px;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
  }
  
input {
    width: 300px;
    background-color: white;
    margin: 10px;
    color: #031D44;
}

  input[type="text"] {
    padding: 12px;
  }
  
.btn {
    background-color: #031D44;
    border-radius: 30px;
    transition: transform .1s;
    outline: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.top {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    gap: auto;
}

.top1 {
    display: flex;
    direction: row;
    align-items: center;
    gap: 0px;
}

.pic2 {
  
        transition: transform .1s;

}

.pic2:hover {
    cursor: pointer;
    transform: scale(1.2)
  }

.enter {
    border-radius: 30px;
    border: 2px solid whitesmoke;
}
