.el {
    border-radius: 30px;
    border: 2px solid whitesmoke;
    margin: 10px;
    padding: 12px;
    width: 180px;
    height: 14px;
    box-shadow: 3px 3px 5px grey;
    outline: 1px solid black;
  }

 #status {
    border-radius: 30px;
    border: 2px solid whitesmoke;
    width: 180px;
    height: 41.32px;
    background-color: white;
    color: black;
    padding: 12px;
    margin: 10px;
    box-shadow: 3px 3px 5px grey;
    outline: 1px solid black;
  }

  :root{
    --toastify-color-info: #dab785;
  }

  .pa{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 10px;
  }