.form-group select {
    width: 270px;
    padding: 10px;
    border: none;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    margin: 10px;
    color: #031D44;

}

.hot {
    display: flex;
    flex-direction: row;
    gap: 20px;
}