 .filter-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }

  .chart-container {
  height: 540px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-sizing: border-box; 
}

  

