.overview-symbol {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #000000; 
    font-size: 1.125rem;
}
  
.overview-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.overview-price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #000000; 
}
  
.overview-currency {
    font-size: 1.125rem;
    color: #000000; 
    margin: 0.5rem;
}
  
.overview-change {
    font-size: 1.125rem;
    color: #000000; 
}
  
.positive {
    color: #10b981;
}
  
.negative {
    color: #ef4444;
}
